body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:azure;
}

.container{
    background-color:blanchedalmond;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    max-width: 600px;
    border-radius: 5px;
    padding: 20px;

}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

form input[type="text"]{
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 18px;
    width: 60%;

}

form input[type="submit"]{
    background-color: rgb(204, 141, 24);
    padding: 8px 8px;
    margin-bottom: auto;
    border: none;  
    border-radius: 5px;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease;
}
form input[type="submit"]:hover
{
    background-color: rgba(241, 210, 72, 0.808);
}

.icon img{
    height: 100px;
    width: 100px;
    background: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature{
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0px

}

.description{
    font-size: 24px;
    margin-bottom: 20px;
}

.details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.details > div{
    padding: 25px;
    background-color:rgb(248, 223, 161);
    margin: 10px;
    border-radius: 5px;
    flex: 1;
    font-size: large;
    text-align: center;
    min-height: 45px;

}


@media(max-width: 768px){
    form {
        flex-direction: column;
    }
}

form input[type="text"]{
    width: 100%;
    margin-bottom: 10px;
}